<app-search-bar selectedCityName=""></app-search-bar>

<div class="container">
<div class="row">
  <div class="col-md-4">
    <h2>Od 1952 roku...</h2>
    <p>Najstarsza stacja meteorologiczna, dla której dostępne są pomiary - powstała w 1952 roku. Dane zgromadzone od tego momentu, aż do
      dziś, dostępne są w wygodnej formie na naszej stronie.</p>
  </div>
  <div class="col-md-4">
    <h2>Blisko Ciebie</h2>
    <p>Zgromadziliśmy dane na temat stacji meteorologicznych i połączyliśmy je z najbliżej znajdującymi się miastami. Dzięki temu możesz
      sprawdzić z dużą dokładnością pogodę z przeszłości w twoim mieście.</p>
  </div>
  <div class="col-md-4">
    <h2>Wiarygodnie</h2>
    <p>Zgromadzone na stronie dane pochodzą z oficjalnej strony Instytutu Meteorologii i Gospodarki Wodnej. Dzięki temu
      masz pewność, że dane pochodzą ze sprawdzonego źródła.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h1 class="weather-icon d-none d-md-block"><i class="wi wi-day-fog"></i></h1>
  </div>
  <div class="col-md-4">
    <h1 class="weather-icon d-none d-md-block"><i class="wi wi-sunrise"></i></h1>
  </div>
  <div class="col-md-4">
    <h1 class="weather-icon d-none d-md-block"><i class="wi wi-cloud-down"></i></h1>
  </div>
</div>

<hr>
</div>
