.year-label {
  padding-right: 10px;
}

.all-year-info-box {
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
}

.max-temp-info-box {
  background-color: rgba(211, 112, 34, 0.1);
}

.min-temp-info-box {
  background-color: rgba(158,196,255,0.1);
}

.max-snow-info-box {
  background-color: rgb(240, 232, 243);
}

.max-rainfall-info-box {
  background-color: rgba(0,135,243,0.15);
}

.chart-container {
  height: 400px;
}
