<app-search-bar *ngIf="city" [selectedCityName]="city.name"></app-search-bar>
<div class="container">
  <div *ngIf="allYearsCityData">
    <h3>Miejscowość: <span class="font-weight-bold">{{city.name}}</span></h3>
    <mat-form-field class="w-50">
      <mat-select placeholder="Wybierz rok z listy">
        <mat-option *ngFor="let option of yearOptions" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button>Powrót do wszystkich lat</button>
  </div>
  <div *ngIf="showAllYears">
    <div class="row">
      <div class="col-md all-year-info-box max-temp-info-box">
        <div>Maksymalna temperatura: <span class="font-weight-bold">{{allYearsCityData.maximumTemperature}} &deg;C</span>
        </div>
        <div>Data wystąpienia:
          <span class="font-weight-bold">
            {{staticDataService.getFullMonthName(allYearsCityData.maximumTemperatureMonth)}} {{allYearsCityData.maximumTemperatureYear}}
          </span>
        </div>
      </div>
      <div class="col-md all-year-info-box min-temp-info-box">
        <div>Minimalna temperatura: <span class="font-weight-bold">{{allYearsCityData.minimumTemperature}} &deg;C</span>
        </div>
        <div>Data wystąpienia:
          <span class="font-weight-bold">
            {{staticDataService.getFullMonthName(allYearsCityData.minimumTemperatureMonth)}} {{allYearsCityData.minimumTemperatureYear}}
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md all-year-info-box max-snow-info-box">
        <div>Maksymalna pokrywa śnieżna: <span class="font-weight-bold">{{allYearsCityData.maximumSnowHeight}} cm</span>
        </div>
        <div>Data wystąpienia:
          <span class="font-weight-bold">
            {{staticDataService.getFullMonthName(allYearsCityData.maximumSnowHeightMonth)}} {{allYearsCityData.maximumSnowHeightYear}}
          </span>
        </div>
      </div>
      <div class="col-md all-year-info-box max-rainfall-info-box">
        <div>Maksymalny opad dobowy: <span class="font-weight-bold">{{allYearsCityData.maximumRainfallAmount}} mm</span>
        </div>
        <div>Data wystąpienia:
          <span class="font-weight-bold">
            {{staticDataService.getFullMonthName(allYearsCityData.maximumRainfallAmountMonth)}} {{allYearsCityData.maximumRainfallAmountYear}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
