<div>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">PogoDane <i class="fas fa-cloud-sun-rain"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Dane pogodowe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Informacje</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kontakt</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main">

  <div class="jumbotron">
    <div class="container">
      <div class="ml-3">
        <div><form class="mt-4">
          <mat-form-field class="city-picker">
            <input class="city-picker-select" type="text" placeholder="Kliknij, wprowadź i wybierz miasto z listy" aria-label="Number" matInput [formControl]="citiesControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="citySelected($event)" (opened)="cityPanelOpened()" (closed)="cityPanelClosed()">
              <mat-option *ngFor="let city of filteredCities | async" [value]="city.name">
                {{city.name}} (woj. {{city.voivodeship}})
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form></div>
      </div>
    </div>
  </div>

  <div class="container">

    <router-outlet></router-outlet>

  </div>

</main>

<footer class="container">
  <p>&copy; PogoDane 2019</p>
</footer>
</div>
